<launch>

  <arg name="ranging_radio" default="false"/>
  <arg name="pano_save_dir" default="$(env HOME)/.ros/panoramas"/>
  <arg name="radio_id"/>
  <arg name="robot_id"/>
  <arg name="tf_prefix"/>
  <arg name="leader"/>

  <arg name="slam_only"     value="true"/>

  <group ns="$(arg tf_prefix)">

    <!-- robot components -->
    <include file="$(find scarab)/scarab.launch">
      <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </include>

    <!-- slam -->
    <include file="$(find scarab)/gmapping.launch">
      <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </include>

    <!-- navigation with hfn -->
    <include file="$(find scarab)/hfn.launch">
      <arg name="tf_prefix" value="$(arg tf_prefix)"/>
    </include>

    <!-- panorama nodelet -->
    <include unless="$(arg slam_only)" file="$(find panorama)/launch/panorama_node.launch">
      <arg name="save_directory"      value="$(arg pano_save_dir)"/>
      <arg name="world_frame"         value="$(arg tf_prefix)/map"/>
      <arg name="camera_frame"        value="$(arg tf_prefix)/camera_rgb_frame"/>
      <arg name="robot_frame"         value="$(arg tf_prefix)/base_link"/>
      <arg name="debug"               value="false"/>
      <arg name="spin_speed"          value="0.25"/>
      <arg name="number_of_frames"    value="30"/>
      <arg name="continuous_capture"  value="false"/>
      <arg name="image_registration"  value="true"/>
      <arg name="exposure"            value="100"/>
    </include>

    <!-- exploration manager -->
    <node pkg="csqmi_exploration" type="exploration_manager" 
      name="exploration_manager" output="screen" unless="$(arg slam_only)">
      <param name="tf_prefix"         value="$(arg tf_prefix)"/>
      <param name="robot_id"          value="$(arg robot_id)"/>
      <param name="leader"            value="$(arg leader)"/>
    </node>

  </group>

</launch>
