<launch>

  <arg name="camera"      default="xtion"/>
  <arg name="tf_prefix"   default="robot1"/>
  <arg name="exposure"    default="100"/>

  <group ns="$(arg tf_prefix)">

    <!-- robot components -->
    <include file="$(find robot_io)/launch/robot.launch">
      <arg name="hokuyo"              value="true"/>
      <arg name="odometry"            value="true"/>
      <arg name="slam"                value="true"/>
      <arg name="xtion_tf_frames"    value="true"/>
      <arg name="tf_prefix"           value="$(arg tf_prefix)"/>
    </include>

    <!-- panorama action server node -->
    <include file="$(find panorama)/launch/panorama_node.launch">
      <arg name="world_frame"     value="$(arg tf_prefix)/map"/>
      <arg name="camera_frame"    value="$(arg tf_prefix)/$(arg camera)_rgb_frame"/>
      <arg name="robot_frame"     value="$(arg tf_prefix)/base_link"/>
      <arg name="exposure"        value="$(arg exposure)"/>
    </include>

  </group>

</launch>
