<launch>

  <arg name="camera"      default="camera"/>
  <arg name="tf_prefix"   default="/"/>
  <arg name="exposure"    default="100"/>

  <group ns="$(arg tf_prefix)">

    <!-- scarab components -->
    <include file="$(find scarab)/scarab.launch"/>

    <!-- panorama action server node -->
    <include file="$(find panorama)/launch/panorama_node.launch">
      <arg name="world_frame"     value="$(arg tf_prefix)/map"/>
      <arg name="camera_frame"    value="$(arg tf_prefix)/$(arg camera)_rgb_frame"/>
      <arg name="robot_frame"     value="$(arg tf_prefix)/base_link"/>
      <arg name="exposure"        value="$(arg exposure)"/>
    </include>

  </group>

</launch>
