<launch>

  <arg name="tf_prefix"/>
  <arg name="robot_id"/>
  <arg name="leader"/>

  <node pkg="csqmi_exploration" type="exploration_manager" 
    name="exploration_manager" output="screen">
    <param name="tf_prefix" value="$(arg tf_prefix)"/>
    <param name="robot_id" value="$(arg robot_id)"/>
    <param name="leader" value="$(arg leader)"/>
  </node>

</launch>
