<launch>

  <arg name="tf_prefix"     default="robot1"/>
  <arg name="camera"        default="xtion"/>
  <arg name="odometry_only" default="false"/>

  <group ns="$(arg tf_prefix)">

    <!-- panorama nodelet -->
    <include file="$(find panorama)/launch/panorama_nodelet.launch">
      <arg name="world_frame"     value="$(arg tf_prefix)/base_link"/>
      <arg name="camera_frame"    value="$(arg tf_prefix)/$(arg camera)_rgb_frame"/>
      <arg name="robot_frame"     value="$(arg tf_prefix)/base_link"/>
      <arg name="odom_frame"      value="$(arg tf_prefix)/odom"/>
      <arg name="debug"           value="true"/>
    </include>

    <!-- camera transform tree -->
    <include file="$(find robot_io)/launch/xtion_frames.launch">
        <arg name="camera"                          value="$(arg camera)" />
        <arg name="tf_prefix"                       value="$(arg tf_prefix)" />
    </include>

    <!-- Launch robot components -->
    <include if="$(arg odometry_only)" 
      file="$(find robot_io)/launch/robot.launch">
      <arg name="odometry"        value="true"/>
      <arg name="tf_prefix"       value="$(arg tf_prefix)"/>
    </include>

  </group>

</launch>
